/*Reset Styling*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /*font: inherit;*/
    /*font-size: 100%;*/
    /*outline: solid 1px;*/
}

/*background-image*/
html {
	background: url('../img/cooking-background.jpg') no-repeat center center fixed;
	background-size: cover;
}

body {
	/*background-color: #D9D9D9;*/
	font-family: 'Lobster', cursive;
}

#app-wrapper {
	text-align: center;
	position: relative;
	background-color: #DA7721;
	opacity: 0.75;
	width: 25rem;
	margin: 7rem auto 2rem auto;
	padding: 1rem 0 1.5rem 0;
}

/*#app-wrapper::before {
	background-image: url('../img/cooking-background.jpg');
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-moz-ms: blur(5px);
	filter: blur(5px);
}*/

/*Header*/
#app-name {
	font-size: 4rem;
	letter-spacing: 5px;
}

#by-line {
	font-size: 1.2rem;
	letter-spacing: 1px;
}

/*Input fields*/
.input-fields {
	margin: 2rem 0 0 0;
}

input {
	margin: .5rem 1rem;
	border-radius: 1.5rem;
	border: none;
	height: 1.5rem;
	letter-spacing: 1.5px;
	text-align: center;
}

#item-input {
	width: 15rem;
}

#qty-input {
	width: 2.5rem;
	color: #b0b0b0;
}

/*List items*/
.entry {
	position: relative;
	display: none;
	opacity: 0;
	margin-top: -30px;
}

.item, .qty {
	margin: .5rem 0rem;
	border-radius: 1.5rem;
	border: none;
	letter-spacing: 1.5px;
	height: 1.5rem;
}

.item {
	margin-left: 0.5rem;
	width: 15rem;
	float: left;
}

.qty {
	width: 2.5rem;
	cursor: default;
}

.list > li {
	list-style: none;
}

.strike {
	float: left;
	width: 20px;
	height: 24px;
	margin-left: .9rem;
	margin-top: .5rem;
	border: none;
	background-color: #DA7721;
	opacity: 0.75;
}

.list .fa {
	font-size: 1.5rem;
}

.list .fa-check {
	position: absolute;
	left: 15.8rem;
	color: #0D5657;
	top: .5rem;
	cursor: pointer;
}

.list .fa-close {
	position: absolute; 
	left: .9rem;
	top: .5rem;
	color: #B14036;
}

.checked-off {
	background-color: #0D5657;
	color: #FFFFFF;
	text-decoration: line-through;
}
